In [31]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5580 sha256=21676c842d6292b77e3414c7c36b62acdaa210990962e5642828881078c95fbf
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [36]:
from word2number import w2n
word_to_number=w2n.word_to_num("two million three thousand nine hundred and eighty four")
print(word_to_number)

2003984

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [13]:
df=pd.read_csv("homeprice.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
import math
mean_val=math.floor(df.bedrooms.mean())
df.bedrooms=df.bedrooms.fillna(mean_val)
df.bedrooms

0    3.0
1    4.0
2    4.2
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [22]:
reg=linear_model.LinearRegression()
reg.fit(df[["area","bedrooms","age"]],df.price)

LinearRegression()

In [23]:
reg.coef_

array([  116.66950551, 18756.28806982, -3675.75111708])

In [24]:
reg.intercept_

231586.00639409176

In [30]:
reg.predict([[3000,3,15]])

array([582727.12036446])

In [38]:
df=pd.DataFrame({
    "Experience":["One","Two","Three","Four"],
    "Salary":[1213,131,1311,131]
})
df

  Experience  Salary
0        One    1213
1        Two     131
2      Three    1311
3       Four     131

In [53]:

val=df.Experience
def word_to_number():
    for x in val:
        val=w2n.word_to_num(x)
    return x

df.Experience=df.Experience(word_to_number)
df

TypeError: 'Series' object is not callable